.activity-stream-page {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 0px 10px 2px;
    -webkit-box-shadow: 2px 0px 10px 2px;
    z-index: 10;
}

.activity-stream-page__side-panel-holder {
    float: right;
    display: none;
    border-left: 1px solid rgb(66, 58, 58);
    background: rgba(116, 128, 209, 0.68);
    z-index: 10;
    box-shadow: 2px 0px 10px 2px inset;
    -webkit-box-shadow: 2px 0px 10px 2px inset;
}

.activity-stream-page__stream-holder__touch-helper {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 10;
}

.sp-on .activity-stream-page__stream-holder__touch-helper {
    display: block;
}

.activity-stream-page__stream-holder {
    position: relative;
    top: 0;
    box-shadow: 2px 0px 10px 2px;
    -webkit-box-shadow: 2px 0px 10px 2px;
    z-index: 10;
}

.sp-on .activity-stream-page__stream-holder {
    position: absolute;
    width: 100%;
}

.sp-on .activity-stream-page__side-panel-holder {
    position: relative;
    display: block;
}

@media only screen and (max-width: 319px) {
    .sp-on .activity-stream-page__side-panel-holder {
        width: 205px;
    }

    .sp-on .activity-stream-page__stream-holder {
        right: 205px;
    }
}

@media only screen and (min-width: 320px) {
    .sp-on .activity-stream-page__side-panel-holder {
        width: 280px;
    }

    .sp-on .activity-stream-page__stream-holder {
        right: 280px;
    }
}