.activity-stream__days {
    position: relative;
}

.activity-stream__days .preloader {
    margin: 0 auto;
}

.activity-stream__no-one-activity-msg {
    width: 100%;
    text-align: center;
    margin-top: 48%;
    font-size: x-large;
}

.activity-stream__error-msg-back {
    margin: 10px;
}