.activity-stream-day {
    position: relative;
}

.activity-stream-day__acty-holder {
    margin-right: 40px;
}

.activity-stream-day__banana-header {
    background:  #ffca09;
    height: 80px;
    margin-right: 40px;
    border-bottom: 2px solid #ebbc0c;
}

.today .activity-stream-day__banana-header {
    background: #603795;
    border-bottom-color: #522f81;
}

.activity-stream-day__banana-header__arrow-right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #ffca09;
}

.today .activity-stream-day__banana-header__arrow-right {
    border-left: 40px solid #603795;
}

.activity-stream-day__banana-header__bottom-line {
    position: relative;
    top: 40px;
    height: 38px;
    background: #f4c008;
}

.today .activity-stream-day__banana-header__bottom-line {
    background: #522f81;
}

.activity-stream-day__banana-header__non-empty-marker {
    position: absolute;
    right: 60px;
    top: 10px;
    display: none;
    color: rgb(177, 95, 95);
    font-size: x-large;
}

.non-empty .activity-stream-day__banana-header__non-empty-marker {
    display: block;
}

.activity-stream-day__banana-header__date-holder {
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
}

.activity-stream-day__banana-header__date {
    color: white;
    background: #604111;
    padding: 0px 5px;
    font-size: x-large;
}

.today .activity-stream-day__banana-header__date {
    background: transparent;
}

.activity-stream-day__banana-header__month-and-year {
    color: #aa7912;
    vertical-align: text-bottom;
}

.today .activity-stream-day__banana-header__month-and-year {
    color: white;
}

.activity-stream-day__banana-header__dow {
    color: white;
    background: #1454a7;
    padding: 2px 3px;
    font-family: monospace;
}

.today .activity-stream-day__banana-header__dow {
    background: transparent;
}

.activity-stream-day__date {
    position: absolute;
    right: 20px;
    font-size: 12px;
    color: #FFFFFF;
    font-style: oblique;
}

.activity-stream-day__side-line {
    position: absolute;
    top: 80px;
    right: 0px;
    bottom: 0px;
    width: 40px;
}

.activity-stream-day__stat {
    position: absolute;
    left: 20px;
    background: white;
}

.activity-stream-day__stat-cntr,
.activity-stream-day__stat-cntr-sep {
    font-size: 12px;
    font-weight: bold;
}

.activity-stream-day__stat-cntr.completed {
    color: darkgreen;
}

.activity-stream-day__stat-cntr.failed {
    color: darkred;
}

.activity-stream-day__stat-cntr.total {
    color: darkblue;
}

.activity-stream-day__stat-cntr-sep {
    color: #000000;
}