.activity-lite {
    position: relative;
    min-height: 100px;
    border-bottom: 1px solid #4c86cf;
}

.edit.activity-lite,
.new.activity-lite {
    border-radius: 4px;
    border: 1px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.activity-lite__actions {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

.activity-lite__actions button {
    color: white;
}

.activity-lite__actions_delete:hover,
.activity-lite__actions_delete:active,
.activity-lite__actions_delete:focus {
    color: rgb(1, 22, 90)
}

.activity-lite__content {
    overflow: hidden;
    margin-bottom: 5px;
}

.modified .activity-lite__content,
.new .activity-lite__content {
    margin-bottom: 25px;
}

.activity-lite__expand-button {
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 2px;
}

.activity-lite__expand-button-icon {
    padding-left: 20px;
    background-image: url(<%= asset_path 'expand-activity-icons.png' %>);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position:  -20px -2px;
}

.constrict .activity-lite__expand-button-icon {
    background-position: 0px -2px;
}

.activity-lite__footer {
    position: relative;
    text-align: center;
}

.activity-lite__footer__edit-actions {
    padding: 0px 25px;
}

.activity-lite__main-span {
    padding-left: 20px;
    overflow: hidden;
}

.new .activity-lite__main-span,
.modified .activity-lite__main-span {
    padding-right: 20px;
}

.activity-lite__main-span__privacy-level {
    float: right;
    visibility: hidden;
}

.new .activity-lite__main-span__privacy-level {
    visibility: visible;
}

.activity-lite__main-span__privacy-level label {
    color: white;
    font-weight: normal;
    font-size: small;
}

.activity-lite__prepend-button {
    padding: 0 5px;
}

.activity-lite__prepend-button {
    color: #4c85ca;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.activity-lite__cancel-button,
.activity-lite__save-button {
    display: none;
    font-size: larger;
    vertical-align: super;
    padding: 5px 5px;
    cursor: pointer;
    color: white;
}

.modified .activity-lite__prepend-button,
.new .activity-lite__prepend-button {
    display: none;
}

.modified .activity-lite__cancel-button,
.modified .activity-lite__save-button,
.new .activity-lite__cancel-button,
.new .activity-lite__save-button {
    display: inline;
}

.activity-lite_right-span {
    float: right;
    margin-left: 20px;
}

.modified .activity-lite_right-span,
.new .activity-lite_right-span {
    display: none;
}

.activity-lite__rise-binding {
    margin-top: 10px;
    float: left;
    width: 20px;
    height: 24px;
    background: url(<%= asset_path 'riseup.png' %>) no-repeat center center;
    background-size: 100%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
}

.has-rise .activity-lite__rise-binding {
    opacity: 1;
    filter: alpha(opacity=1);
}

.activity-lite__status {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.activity-lite__status.completed {
    background-image: url(<%= asset_path 'status-completed.jpg' %>);
}

.activity-lite__status.failed {
    background: url(<%= asset_path 'status-failed.png' %>) no-repeat center center;
}

.activity-lite__status.pending {
    background-image: url(<%= asset_path 'status-in-progress.jpg' %>);
}

.activity-lite__status.planned {
    background: url(<%= asset_path 'status-planned.png' %>) no-repeat center center;
}

.activity-lite__text {
    width: 100%;
    min-height: 50px;
    color: white;
    resize: vertical;
    background: transparent;
    overflow: hidden;
    border: none;
}

.activity-lite__text:focus {
    outline: 0px none;
}

.activity-lite__vote {
    padding: 0 5px;
    font-size: large;
    color: #4c85ca;
    font-family: monospace;
    cursor: pointer;
}

.activity-lite__vote.up {
    padding-top: 10px;
    padding-bottom: 5px;
}

.activity-lite__vote.down {
    padding-top: 5px;
}

.activity-lite__vote.voted {
    color: white;
}

.activity-lite__comments {
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
    /*border-top: 1px solid rgb(15, 36, 121);*/
}

.activity-lite__comments_container {
    padding-top: 10px;
    color: #4C85CA;
    font-family: monospace;
    font-size: large;
    cursor: default;
}

.activity-lite__comments_label {
    font-size: 5pt;
}

.activity-lite__comments_count {
    padding: 5px;
}

.activity-lite__comments_count.clickable {
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline;
}

.activity-lite__new-form {
    display: none;
    padding: 10pt 20pt;
}

.activity-lite__new-form textarea {
    width: 100%;
    font-size: 9pt;
}

.activity-lite__new-form input[type=button] {
    margin-top: 20px;
}

.activity-lite__new-form-error li {
    color: #FF0000;
    font-weight: bold;
    text-shadow: #FFFFFF;
}

.comments-list-item__content {
    position: relative;
}

.comments-list-item__del-comments {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url("/assets/comments-del.png") transparent no-repeat;
    cursor: pointer;
}

.comments-list-item__content {
    border-radius: 4px;
    border: 2px solid #09ECBF;
    margin: 2px;
    padding: 2px 24px 2px 2px;
}


