.add-day-widget {
    position: relative;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-right: 40px; /* такой же margin у дней из-за банановых заголовков */
}

.add-day-widget__icon {
    width: 25px;
    height: 25px;
    margin-top: 22px;
    background: url(<%= asset_path 'add.png' %>) no-repeat center;
    background-size: 100% 100%;
    display: inline-block;
}

.add-day-widget__more-left,
.add-day-widget__more-right {
    top: 0px;
    position: absolute;
    margin: 3px 20px;
    width: 120px;
}

.add-day-widget__more-left {
    left: 0px;
}

.add-day-widget__more-right {
    right: 0px;
}

.add-day-widget .debug span {
    position: absolute;
    line-height: 15px;
    color: green;
    font-size: 11px;
}

.add-day-widget .debug :nth-child(1) {
    top: 1px;
    left: 40%;
}

.add-day-widget .debug :nth-child(2) {
    bottom: 1px;
    left: 40%;
}