.auth-page__title {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.auth-form,
.reg-form {
    margin: 20px 20px 20px 10%;
    float: left;
    color: white;
    background: rgba(57, 63, 107, 0.66);
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(24, 22, 22);
}

.authButton {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.auth-form__error,
.reg-form__error {
    color: red;
    margin-top: 10px;
}