.friends-list {
    width: 100%;
}

.friends-list__section-switcher {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(66, 58, 58);
    background: rgba(116, 128, 209, 0.68);
}

.friends-list__lists-holder {
    width: 100%;
}

.friends-list__section-switcher-button {
    float: left;
    margin: 3% 1%;
}
