.friends-list-item {
    position: relative;
    padding: 7px 0px 7px 7px;
    border-bottom: 1px solid rgb(77, 69, 69);
    border-top: 1px solid rgb(194, 178, 178);
    margin-bottom: 20px;
    height: 100px;
    cursor: pointer;
    background: rgba(97, 124, 196, 0.25);
}

.friends-list-item__avatar {
    float: left;
    max-height: 80px;
    max-width: 80px;
    margin-right: 25px;
}

.friends-list-item__nick {
    float: left;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
}

.friends-list-item__click-catcher {
    width: 100%;
    height: 100%;
}

.friends-list-item__actions-holder {
    position: absolute;
    top: 30%;
    width: 95%;
}

.friends-list-item__actions {
    float: right;
    padding-right: 5%;
}


.friends-list-item__actions-holder .friends-list-item__friendship-btn,
.friends-list-item__actions-holder .friends-list-item__revoke-btn {
    float: left;
    margin-left: 10px;
}