.rise-binding-widget {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
}

.rise-binding-widget_oblivion {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.rise-binding-widget_content {
    position: absolute;
    z-index: 1002;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: hidden;
    background: rgb(162, 184, 241);
    border: 1px solid rgb(172, 120, 241);
    border-radius: 4px;
}

.rise-binding-widget_buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 5px;
    width: 100%;
    height: 40px;
    background: rgb(162, 184, 241);
    border-top: 1px solid rgb(120, 144, 204);
}

.rise-binding-widget_buttons a,
.rise-binding-widget_no-rises-hint a {
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #6e6e6e;
    background: #5e88ad;
    color: white;
    border-radius: 4px;
    min-width: 60px;
    display: block;
    text-align: center;
    float: right;
}

.rise-binding-widget_rise-list-wrapper {
    position: relative;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.rise-binding-widget_rise-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.rise-binding-widget_title {
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(120, 144, 204);
}

.rise-binding-widget-list-item {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(151, 144, 144);
    height: 75px;
    overflow: hidden;
}

.rise-binding-widget-list-item:hover {
    background: rgb(221, 233, 252);
}

.rise-binding-widget-list-item.selected {
    background: rgb(187, 201, 255);
}

.rise-binding-widget-list-item_pic,
.rise-binding-widget-list-item_descr {
    margin: 5px 5px 5px 5px;
}

.rise-binding-widget-list-item_descr {
    word-wrap: break-word;
}

.rise-binding-widget-list-item_pic {
    float: left;
    width: 65px;
    height: 65px;
}

.rise-binding-widget-list-item_descr_checkbox {
    float: right;
    display: none;
    margin: 5px 5px 5px 5px;
}

.rise-binding-widget-list-item.selected .rise-binding-widget-list-item_descr_checkbox {
    display: block;
}

.rise-binding-widget_no-rises-hint {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}