.rise {
    float: left;
    width: 100%;
    height: 300px;
    position: relative;
    padding: 5px 5px 5px 5px;
    background: rgb(247, 250, 255);
    border: 2px solid #1454a7;
}

@media only screen and (min-width: 440px) and (max-width: 679px) {
    .rise {
        width: 50%;
    }
}

@media only screen and (min-width: 680px) {
    .rise {
        width: 33.3%;
    }
}

.rise__content {
    height: 225px;
    width: 100%;
    padding-bottom: 5px;
    display: table;
}

.rise__footer {
    text-align: center;
}

.rise__complete-button {
    display: inline-block;
}

.rise__end-date {
    float: right;
}

.rise__header {
    height: 30px;
    border-radius: 20px;
    width: 30px;
    float: right;
}

.completed .rise__header {
    background: rgb(42, 223, 42);
}

.overdued .rise__header {
    background: rgb(253, 74, 74);
}

.rise__pic-holder {
    display: table-row;
    height: 100%;
}

.rise__pic {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.rise__pic img {
    max-width: 230px;
    max-height: 160px;
}

.rise__title {
    display: table-row;
    height: 0;
    max-height: 50px;
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

.rise__time-block {
    display: table-row;
    height: 0;
    padding-top: 15px;
    font-size: small;
}

.rise__stat {
    padding: 10px;
}

.rise__expand-button {
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 2px;
}

.rise__actions .rise__expand-button {
    bottom: auto;
    top: 5px;
}

.rise__expand-button-icon {
    padding-left: 20px;
    background-image: url(<%= asset_path 'expand-activity-icons.png' %>);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 0px -2px;
}

.rise__actions .rise__expand-button-icon {
    background-position:  -20px -2px;
}

.rise__actions-holder {
    display: none;
    background: rgba(9, 9, 9, 0.63);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rise__actions {
    background: rgb(247, 250, 255);
    border-top: 1px solid #3B42EB;
    position: absolute;
    padding-top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.expanded .rise__actions-holder {
    display: block;
}
