.rises-add-widget {
    overflow: hidden;
}

.rises-add-widget__actions {
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.rises-add-widget__body {
    text-align: center;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}

.rise-add-widget__date-picker-holder {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.rises-add-widget__error-msg {
    color: orangered;
    float: left;
}

.rises-add-widget__show-button {
    float: right;
    margin: 0px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 5px;
}

.rises-add-widget__rise-text {
    width: 100%;
    margin: 10px 0;
    height: 70px;
    padding: 5px;
}

.rises-add-widget__header {
    overflow: hidden;
    margin-top: 10px;
}

.rises-add-widget__time-block {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.rises-add-widget__time-block__pic {
    vertical-align: baseline;
    background: url(<%= asset_path 'time.png' %>) no-repeat center center;
    background-size: 100%;
    width: 30px;
    height: 30px;
}