html {
    width: 100%;
    height: 100%;
}

body {
    background: #44accf;
    /* Цвета RiseUP
    background:  #ffca09;
    background: #1454a7;
    background: #e1eefc;
    background: #604111;*/
}

.preloader {
    background: url(<%= asset_path 'preloader.gif' %>) no-repeat center;
    background-size: 170px 110px;
    width: 50px;
    height: 50px;
    opacity: 0.6
}

.hint-area {
    position: fixed;
    bottom: 0;
    right: 2%;
    left: 2%;
    z-index: 100;
    display: none;
}

.hint-area .alert-info {
    color: rgb(11, 11, 255);
    background: rgb(250, 234, 50);
    border: 1px solid #cccccc;
    text-align: center;
}

.debug {
    <%= Rails.env.production? ? 'display: none !important;' : '' %>
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display-none {
    display: none !important;
}

.no-opacity {
    opacity: 1 !important;
    filter: alpha(opacity = 100) !important; /* For IE */
}

.btn-none {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}

.clear-both {
    clear: both;
}

/******** МОЯ МЕГА ВЁРСТКА **********/

.feedback .body {
    position: relative;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.feedback #message_feedback_form {
    width: 100%;
    border: 2px transparent;
}

.feedback .modify {
    position: absolute;
    bottom: 110px;
    right: 17px;
    opacity: 0.3;
}

.feedback .modify:hover {
    opacity: 1;
}

.feedback .legend {
    padding-bottom: 10px;
}

.main-layout__helper-background {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000000;
    text-align: center;
    z-index: 9999;
}

.main-layout__helper-modal {
    display: inline-block;
    margin: 20px auto;
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 20px;
}
