.users-list {
    background: #6d9ad3;
}

.users-list-item__header {
    position: relative;
    margin-right: 40px;
    border-bottom: 2px solid #1c5aa7;
    background: #1354a6;
    height: 80px;
    cursor: pointer;
    line-height: 40px;
    color: white;
}

.users-list-item__action {
    color: white;
    display: inline-block;
    margin: 15px 10px 20px;
}

.users-list-item__actions {
    display: none;
    margin-right: 40px;
    text-align: center;
}

.users-list-item__arrow-right {
    position: absolute;
    right: -40px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #1354a6;
}

.users-list-item__avatar {
    float: left;
    height: 76px;
    width: 76px;
    margin: 2px 15px 2px 5px;
}

.users-list-item__bottom_line {
    position: absolute;
    right: 0;
    top: 40px;
    left: 82px;
    height: 38px;
    background: #124587;
}

.users-list-item__content {
    overflow: hidden;
}

.users-list-item__nick-holder {
    overflow: hidden;
}

.users-list-item__nick {
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
    text-overflow: ellipsis;
    vertical-align: middle;
}