.welcome-layout {
    position: absolute;
    min-height: 300px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.welcome-layout__background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: url(<%= asset_path 'bumper.jpg' %>);
    z-index: -100;
}

.welcome-layout__background-pic {
    height: 100%;
    background: url(<%= asset_path 'main-background.jpg' %>) no-repeat center;
}