<div class="generator-activities__date-picker-holder float-left"></div>
<div class="generator-activities__gen-params float-left">
    <label>
        Количество активностей в день:<br/>
        <input class="generator-activities__daily-activities-count" type="number" value="<%= activitiesCount %>"/>
    </label>
    <br/>
    <label>
        Id пользователя:<br/>
        <input class="generator-activities__user-id" type="number" value="<%= userId %>"/>
    </label>
</div>
<div class="generator-activities__buttons float-left">
    <button class="generator-activities__button-generate btn btn-primary">Генерировать</button>
    <button class="generator-activities__button-save btn btn-default">Сохранить сценарий</button>
    <button class="generator-activities__button-reset btn btn-danger">Сбросить сценарий</button>
</div>
