<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44139575-1', 'riseup.su');
    ga('send', 'pageview');

    App.debug = <%= Rails.env.production? ? 'false' : 'true' %>;
    App.startRoute = '<%= @route %>';

    App.Server.apiRootUrl = "http://<%= APP_CONFIG.domains['api'] %>";
    App.Server.origin = "http://<%= APP_CONFIG.domains['app'] %>";
    App.Server.picRootUrl = "<%= APP_CONFIG.images['host'] %>";

    <% if @authenticated %>
    App.currentUser = new App.Model.User(<%= Riseup::Rest::User.new(@user).to_json.to_json.html_safe %>);
    <% end %>
</script>

<%= javascript_include_tag 'Mobile/start.js' %>