<div class="cellular-date-picker__to-the-future"></div>
<div class="cellular-date-picker__month-name"></div>
<div class="cellular-date-picker__days-holder"></div>
<div class="cellular-date-picker__month-name"></div>
<div class="cellular-date-picker__to-the-past"></div>