<div class="activity-stream-day__side-line"></div>
<div class="activity-stream-day__banana-header">
    <div class="activity-stream-day__banana-header__bottom-line"></div>
    <div class="activity-stream-day__banana-header__non-empty-marker">!!!</div>
    <div class="activity-stream-day__banana-header__date-holder">
        <span class="activity-stream-day__banana-header__date"><%= date %></span>
        <span class="activity-stream-day__banana-header__month-and-year"><%= monthAndYear %></span>
        <br/>
        <span class="activity-stream-day__banana-header__dow"><%= dow %></span>
    </div>
    <div class="activity-stream-day__banana-header__arrow-right"></div>
</div>
<span class="activity-stream-day__stat top badge <%= stat.total ? '' : 'display-none'%>">
    <span class="activity-stream-day__stat-cntr total"><%= stat.total ? stat.total : '' %></span>
    <span class="activity-stream-day__stat-cntr-sep completed<%= stat.completed ? '' : ' display-none' %>">/</span>
    <span class="activity-stream-day__stat-cntr completed"><%= stat.total ? stat.completed : '' %></span>
    <span class="activity-stream-day__stat-cntr-sep failed<%= stat.failed ? '' : ' display-none' %>">/</span>
    <span class="activity-stream-day__stat-cntr failed"><%= stat.total ? stat.failed : '' %></span>
</span>
<div class="activity-stream-day__acty-holder"></div>
<span class="activity-stream-day__stat bottom badge <%= stat.total ? '' : 'display-none'%>">
    <span class="activity-stream-day__stat-cntr total"><%= stat.total ? stat.total : '' %></span>
    <span class="activity-stream-day__stat-cntr-sep completed<%= stat.completed ? '' : ' display-none' %>">/</span>
    <span class="activity-stream-day__stat-cntr completed"><%= stat.total ? stat.completed : '' %></span>
    <span class="activity-stream-day__stat-cntr-sep failed<%= stat.failed ? '' : ' display-none' %>">/</span>
    <span class="activity-stream-day__stat-cntr failed"><%= stat.total ? stat.failed : '' %></span>
</span>