<div class="activity-lite__new-form">
    <div class="activity-lite__new-form-error">
        <ul></ul>
    </div>
    <textarea class="activity-lite__new-form-msg" placeholder="Введите текст..."></textarea>
    <div style="text-align: center;">
        <input type="button" class="btn btn-danger activity-lite__new-form-send-button" value="Комментировать">
        <input type="button" class="btn activity-lite__new-form-cancel-button" id="cancel" value="Отменить">
    </div>
</div>
<div class="activity-lite__comments-list"></div>