<div class="activity-lite__content">
    <div class="activity-lite_right-span">
        <div class="activity-lite__vote up <%= votes ? votes.voteUpClass : '' %>">+<%=(votes ? (votes['1'] || 0) : 0)%></div>
        <div class="activity-lite__status <%= stateClass %>"></div>
        <div class="activity-lite__vote down <%= votes ? votes.voteDownClass : '' %>">-<%=(votes ? (votes['-1'] || 0) : 0)%></div>
        <div class="activity-lite__comments_container">
            <div class="activity-lite__comments_label">Комментариев:</div>
            <div class="activity-lite__comments_count<%= commentsClickable %>"><%= (commentsCount ? commentsCount : 0) %></div>
        </div>
    </div>

    <div class="activity-lite__main-span">
        <% if (isOwnedToCurUser || hasRise) { %>
            <div class="activity-lite__rise-binding"></div>
        <% } %>
        <div class="activity-lite__main-span__privacy-level checkbox">
            <label><input type="checkbox" /> скрытая</label>
        </div>
        <textarea readonly="readonly" class="activity-lite__text" <% if (!editable) { %> disabled="true" <% } %> ><%= descr %></textarea>
    </div>
</div>

<div class="activity-lite__footer">
    <div class="activity-lite__footer__edit-actions">
        <% if (canBePrepended && isOwnedToCurUser) { %>
            <span class="activity-lite__prepend-button">+</span>
        <% } %>
        <span class="activity-lite__save-button">Сохранить</span>
        <span class="activity-lite__cancel-button">Отмена</span>
    </div>
    <% if (isOwnedToCurUser) { %>
    <a class="activity-lite__expand-button" href="javascript: void 0">
        <i class="activity-lite__expand-button-icon"></i>
    </a>
    <% } %>
</div>
<div class="activity-lite__comments"<% if(id) { %> id="comments-field-<%= id %>"<% } %>></div>

<ul class="activity-lite__actions">
    <% if (isOwnedToCurUser) { %>
        <% if(hasRise) { %>
        <li><button class="activity-lite__actions_unbind-rise btn btn-link">Отвязать от цели</button></li>
        <% } %>
        <li><button class="activity-lite__actions_delete btn btn-link">Удалить</button></li>
    <% } %>
</ul>