<div class="comments-list-item__content">
    <div style="font-size: 6pt">[ <%= dt %> ]</div>
    <div> >> <%= userName %></div>
    <div><%= msg %></div>
    <% if (userDeleteComment) { %>
    <div class="comments-list-item__del-comments"></div>
    <% } %>
</div>