<div class="activity__content">
    <div class="activity__descr"><%= description %></div>
    <div class="activity__descr-title"></div>
    <div class="activity-rise-block">
        <% if (rise) { %>
            <div class="activity__rise" data-rise-id="<%= rise.id %>"><%= rise.title %></div>
        <% } else if (false /* пока сркыт функционал */ && isOwnedToCurUser && isEditable) { %>
            <a class="activity__rise-binding" href="javascript: void 0">Связать с райзом...</a>
        <% } %>
    </div>
    <% if (false) { %>
    <div class="activity-start-time-block">
        <a class="activity__start-time" href="javascript: void 0"><%= startTime ? startTime : '' %></a>
    </div>
    <% } %>
</div>

<% if (votes) { %>
<div class="activity__votes">
    <button class="activity__votes-vote <%= votes.voteUpClass %> up btn-small btn" <%= votes.voteUpDisabled %> >
        <span class="activity__votes-vote-arrow up">&nbsp;</span>
    </button>
    <div class="activity__votes-counters"><span><%=(votes['1'] || 0) - (votes['-1'] || 0)%></span></div>
    <button class="activity__votes-vote <%= votes.voteDownClass %> down btn-small btn" <%= votes.voteDownDisabled %> >
        <span class="activity__votes-vote-arrow down">&nbsp;</span>
    </button>
</div>
<% } %>

<% if (!isNew) { %>
    <div class="activity__status <%= state.style %>"></div>
<% } %>

<div class="activity__gallery">
    <img src="http://placekitten.com/g/300/300" class="activity__gallery-pic img-rounded">
</div>

<div class="activity__toolbar">
    <% if (isOwnedToCurUser) { %>
        <div class="activity__toolbar-action-wrapper">
            <div class="activity__toolbar-actions-save-cancel <%= hasRevertibleChanges ? '' : 'display-none' %>">
                <button class="activity__toolbar-action-save btn btn-xs btn-primary">Сохранить</button>
                <button class="activity__toolbar-action-cancel btn btn-xs btn-link">Отмена</button>
            </div>

            <button class="activity__toolbar-action-done <%= canBeCompleted ? '' : 'display-none' %> btn btn-xs btn-success">
                Я выполнил!
            </button>

            <% if (isNew) { %>
                <button class="activity__toolbar-action-create btn btn-xs btn-primary">Добавить</button>
                <button class="activity__toolbar-action-cancel btn btn-xs btn-link">Отмена</button>
            <% } %>
        </div>
    <% } %>

    <% if (!isNew && isOwnedToCurUser) { %>
        <div class="activity__toolbar-menu-wrapper btn-group dropup">
            <button type="button" class="activity__toolbar-menu navbar-toggle dropdown-toggle" data-toggle="dropdown">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><a data-action="upload-photo-for-activity" href="javascript:void 0">Загрузить фото</a></li>
                <li><a data-action="copy-activity" href="javascript:void 0">Клонировать</a></li>
                <% if (isEditable) { %>
                <li><a data-action="move-activity" href="javascript:void 0">Переместить</a></li>
                <% } %>
                <li class="divider"></li>
                <li><a data-action="remove-activity" href="javascript:void 0">Удалить</a></li>
            </ul>
        </div>
    <% } %>

    <% if (false && isOwnedToCurUser) { %>
        <button class="activity__toolbar-time btn btn-small">
            <span class="activity__toolbar-time-pic"></span>
        </button>
    <% } %>

    <button class="activity__toolbar-photo btn btn-small">
        <span class="activity__toolbar-photo-pic"></span>
    </button>
</div>

<div class="debug">
    <span>id: <%= id %></span><br/>
    <span>m_cid: <%= modelCid %></span><br/>
    <span>v_cid: <%= viewCid %></span><br/>
</div>