<% if (moreLeft) { %>
    <button data-range="<%= moreLeft.from + ' ' + moreLeft.to %>" class="add-day-widget__more-left btn btn-primary btn-xs">
        Еще активности<br/>до <%= moment(to).add(1, 'day').format('D MMMM') %>
    </button>
<% } %>
<% if (canEdit) { %>
    <div class="add-day-widget__icon"></div>
    <div class="debug">
        <% if (from) { %><span>From: <%= from %></span><% } %>
        <% if (to) { %><span>To: <%= to %></span><% } %>
    </div>
<% } %>
<% if (moreRight) { %>
    <button data-range="<%= moreRight.from + ' ' + moreRight.to %>" class="add-day-widget__more-right btn btn-primary btn-xs">
        Еще активности<br/>после <%= moment(from).add(-1, 'day').format('D MMMM') %>
    </button>
<% } %>