<label>
    Email:<br/>
    <input id="login-input" type="text" />
</label>
<br/>
<label>
    Пароль:<br/>
    <input id="pwd-input" type="password"/>
</label>
<br/>
<button class="btn btn-large btn-primary authButton loginButton">Войти</button>
<a class="auth-form__toggle-registration" href="javascript: void 0">Нет аккаунта?</a>
<div class="auth-form__error"></div>