<div class="auth-page__title"><span>Наполни каждый день смыслом!</span></div>
<div class="auth-page__auth-form-holder"><div class="clear-both"></div></div>
<div class="auth-page__reg-form-holder"><div class="clear-both"></div></div>