<div class="body">
    <div class="legend">
        <div style="text-align: left;">
            <ul>
                <li>Есть интересные предложения для развития проекта?</li>
                <li>Не хватает базового функционала?</li>
                <li>Нашёл баг?</li>
            </ul>
        </div>

        <h4>Напиши нам об этом и в ближайшее время мы устраним то, что мешает пользоваться нашим сервисом!</h4>
    </div>

    <textarea id="message_feedback_form" placeholder="Введите сообщение..."></textarea>

    <div class="modify">
        <button class="btn" id="message_feedback_form_plus">+</button>
        <button class="btn" id="message_feedback_form_minus">-</button>
    </div>
    <div style="text-align: center;">
        <label for="attach">Прикрепить файл</label>
        <input type="file" id="attach" style="margin: 0 auto;"/>
        <br />
        <button class="btn btn-primary" id="submit_feedback_form">Отправить</button>
        <button class="btn" id="clear_feedback_form">Очистить</button>
    </div>
</div>
<div style="padding: 10px 10px 0 10px;">
    <p>Совершенно все сообщения рассматриваются в ручную. Мы обязательно вышлем вам на почту письмо с
        результатом рассмотрения.</p>

    <p>Мы делаем RiseUP для Вас.</p>
</div>
