<div class="friends-list-item__click-catcher">
    <img src="<%= avatarUrl %>" class="img-rounded friends-list-item__avatar">
    <a class="friends-list-item__nick" href="javascript: void 0"><%= name %></a>
</div>
<div class="friends-list-item__actions-holder">
    <div class="friends-list-item__actions">
        <button class="friends-list-item__friendship-btn <%= friendshipButton ? friendshipButton.cssClass : 'display-none' %>">
            <%= friendshipButton ? friendshipButton.text : '' %>
        </button>
        <button class="friends-list-item__revoke-btn btn-none">Отклонить</button>
    </div>
</div>