<div class="friends-list__section-switcher">
    <button class="friends-list__section-switcher-button btn btn-xs btn-primary" data-section="friends">
        Друзья
        <span class="friends-list__friends-cntr"></span>
    </button>
    <button class="friends-list__section-switcher-button btn btn-xs btn-primary" data-section="inbox-offers">
        Хотят дружить
        <span class="friends-list__inbox-offers-cntr"></span>
    </button>
    <button class="friends-list__section-switcher-button btn btn-xs btn-primary" data-section="outbox-offers">
        Подписки
        <span class="friends-list__outbox-offers-cntr"></span>
    </button>
    <div class="clear-both"></div>
</div>
<div class="friends-list__lists-holder">
    <div class="friends-list__friends"></div>
    <div class="friends-list__inbox-requests"></div>
    <div class="friends-list__outbox-requests"></div>
</div>