<div class="main-layout__helper-background">
    <div class="main-layout__helper-modal"></div>
</div>

<div class="main-layout__root">
    <div class="main-layout-menu navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="main-layout__top-menu-button navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="main-layout__title navbar-brand" href="javascript: void 0"><%= title %></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% if (authenticated) { %>
                    <li><a data-route="timeline" href="javascript: void 0">Мои активности</a></li>
                    <li><a data-route="rises" href="javascript: void 0">Мои райзы (цели)</a></li>
                    <li><a data-route="live-hub" href="javascript: void 0">Прямой эфир</a></li>
                    <li><a data-route="friends" href="javascript: void 0">Друзья</a></li>
                    <li><a data-route="riseupers" href="javascript: void 0">Участники</a></li>
                    <% if (false /* пока сркыт функционал */) { %>
                    <li><a data-route="calendar" href="javascript: void 0">Календарь</a></li>
                    <% } %>
                    <li><a data-route="profile" href="javascript: void 0">Профиль</a></li>
                    <% if (true /* пока сркыт функционал */) { %>
                    <li><a data-route="feedback" href="javascript: void 0">Обратная связь</a></li>
                    <% } %>
                    <li data-action="logout"><a href="javascript: void 0">Выход</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-layout__content navbar-static-top"></div>

    <div class="hint-area">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <% if (debug) { %>
                <button type="button" class="hint-area__clear btn btn-link btn-xs">Clear</button>
            <% } %>
            <div class="hint-area_text"></div>
        </div>
    </div>
</div>