<div class="profile__content">
    <div class="profile__avatar-holder">
        <div class="profile__avatar">
            <img class="profile__avatar-pic img-rounded" src="<%= avatarUrl %>" />
            <a class="profile__avatar-change" href="javascript: void 0">Изменить</a>
        </div>

        <div class="profile__avatar-changing-tools display-none">
            <div class="profile__avatar-changing-tools-file">
                <button class="btn btn-default btn-sm" type="button">Файл</button>
                <input class="profile__avatar-file" type="file" name="new_avatar" />
            </div>
            <button class="profile__avatar-update btn btn-default btn-sm" type="button" >Отправить</button>
            <button class="profile__avatar-rotate-right btn btn-default btn-sm" type="button" >>></button>
            <button class="profile__avatar-rotate-left btn btn-default btn-sm" type="button" ><<</button>
            <button class="profile__avatar-delete btn btn-default btn-sm" type="button" >X</button>
        </div>
    </div>

    <div class="profile__user-primary-info-holder">
        <div class="profile__user-primary-info-row">
            <div class="profile__user-primary-info-key profile__info-field">Имя</div>
            <input class="profile__user-primary-info-val name" type="text" value="<%- user.name %>" />
        </div>
        <div class="profile__user-primary-info-row">
            <div class="profile__user-primary-info-key profile__info-field">Фамилия</div>
            <input class="profile__user-primary-info-val lastName" type="text" value="<%- user.lastName %>" />
        </div>
        <div class="profile__user-primary-info-row">
            <div class="profile__user-primary-info-key profile__info-field">Ник</div>
            <input class="profile__user-primary-info-val nickname" type="text" value="<%- user.nickname %>" />
        </div>
        <div class="profile__user-primary-info-row">
            <div class="profile__user-primary-info-key profile__info-field">Email</div>
            <input class="profile__user-primary-info-val email" type="text" value="<%- user.email %>" />
        </div>
    </div>

    <div class="profile__user-sex-info-holder">
        <span class="profile__info-field">Ваш пол</span>
        <br/>
        <label>
            <input class="profile__user-sex-female" type="radio" value="0" <%= (0 == user.sex) ? 'checked="checked"' : '' %> />
            Женский
        </label>
        <br/>
        <label>
            <input class="profile__user-sex-male" type="radio" value="1" <%= (1 == user.sex) ? 'checked="checked"' : '' %> />
            Мужской
        </label>
    </div>

    <div class="profile__user-credentials-holder">
        <span class="profile__info-field">Кто может просматривать мои активности</span>
        <br/>
        <label>
            <input class="profile__user-credentials-only-i" type="radio" value="0" <%= (!user.credentials) ? 'checked="checked"' : '' %> />
            Только я
        </label>
        <br/>
        <label>
            <input class="profile__user-credentials-friends" type="radio" value="1" <%= (1 == user.credentials) ? 'checked="checked"' : '' %> />
            Друзья
        </label>
        <br/>
        <label>
            <input class="profile__user-credentials-all" type="radio" value="2" <%= (2 == user.credentials) ? 'checked="checked"' : '' %> />
            Все пользователи
        </label>
    </div>

    <div class="profile__save-button-holder">
        <button class="profile__save-button btn btn-primary">Сохранить</button>
        &nbsp;
        <button class="profile__subscriptions-manage-button btn">Управление подписками</button>
    </div>
</div>