<label>
    Email:<br/>
    <input id="login-input" type="text" />
</label>
<br/>
<label>
    Пароль:<br/>
    <input id="pwd-input" type="password"/>
</label>
<br/>
<button class="btn btn-large btn-primary authButton registerButton">Регистрация</button>
<a class="reg-form__toggle-registration" href="javascript: void 0">Вход</a>
<div class="reg-form__error"></div>