<li class="rises-filter__expand-left">&lt;&lt;</li>
<li class="rises-filter__item first" data-filter="all">Все</li>
<li class="rises-filter__item second" data-filter="active">Активные</li>
<li class="rises-filter__item third" data-filter="completed">Выполненные</li>
<li class="rises-filter__item fourth" data-filter="failed">Проваленные</li>
<li class="rises-filter__expand-right">&gt;&gt;</li>
