<img src="http://flickholdr.com/200/300/sea,sun" class="rise-binding-widget-list-item_pic img-rounded">
<div class="rise-binding-widget-list-item_descr">
    <%= description %>
</div>
<div class="rise-binding-widget-list-item_descr_checkbox icon-ok"></div>
