<div class="rises-add-widget__header">
    <button class="rises-add-widget__show-button navbar-toggle" data-toggle="collapse" data-target=".rises-add-widget__body">
        + Добавить цель
    </button>
</div>

<div class="rises-add-widget__body collapse">
    <textarea class="rises-add-widget__rise-text"></textarea>

    <div class="rises-add-widget__actions">
        <div class="rises-add-widget__time-block" data-toggle="collapse" data-target=".rise-add-widget__date-picker-holder">
            <div class="rises-add-widget__time-block__pic"></div>
            <span class="rises-add-widget_selected-time"></span>
        </div>

        <button class="rises-add-widget__add-button btn btn-primary">Добавить</button>
    </div>
    <div class="rises-add-widget__error-msg"></div>

    <div class="rise-add-widget__date-picker-holder collapse"></div>
</div>