<div class="rise__header"></div>
<div class="rise__content">
    <div class="rise__title"><%= description %></div>
    <div class="rise__pic-holder">
        <div class="rise__pic">
            <img src="<%if(img){%>http://pic.myriseup.com/<%=img%><%}else{%>/assets/goal_stub.png<%}%>">
        </div>
        <input type="file" style="display: none;" name="rise__file">
    </div>
    <div class="rise__time-block">
        Завершить к:<br/>
        <div class="rise__end-date"><%= date %> <% if (remainDays >= 0) { %><br/>(осталось <%= remainDays %> дней) <% } %></div>
    </div>
</div>

<div class="rise__footer">
    <% if (canComplete) { %>
    <button class="rise__complete-button btn btn-sm btn-primary">Достигнута!</button>
    <% } %>
    <a class="rise__expand-button" href="javascript: void 0">
        <i class="rise__expand-button-icon"></i>
    </a>
</div>

<div class="rise__actions-holder">
    <div class="rise__actions">
        <a class="rise__expand-button" href="javascript: void 0">
            <i class="rise__expand-button-icon"></i>
        </a>

        <div class="rise__stat">
            <div>Выполнено активностей: <%= completedActyCount %></div>
            <div>Провалено активностей: <%= failedActyCount %></div>
            <div>Всего запланировано: <%= totalActyCount %></div>
        </div>

        <% if (isOwnedToCurUser) { %>
        <button class="rise__actions_delete btn btn-link">Удалить</button>
        <% } %>
    </div>
</div>