<div class="rise-binding-widget_oblivion"></div>
<div class="rise-binding-widget_content">
    <div class="rise-binding-widget_title">Выбор цели</div>

    <div class="rise-binding-widget_rise-list-wrapper">
        <div class="rise-binding-widget_no-rises-hint">
            <div class="alert alert-info">
                Кажется, у Вас нет целей... Самое время их поставить!
            </div>
            <a data-action="addRise" href="javascript: void 0" class="btn">Добавить цель</a>
        </div>

        <ul class="rise-binding-widget_rise-list"></ul>
    </div>

    <div class="rise-binding-widget_buttons">
        <a data-action="cancel" href="javascript: void 0" class="btn">Отмена</a>
        <a data-action="bind" href="javascript: void 0" class="btn disabled">Ок</a>
    </div>
</div>