<div class="search__content">
    <div class="search__controls"></div>
    <div class="search__form">
        <div class="search__form-preloader"></div>
        <div class="search__form-column">
            <input type="text" class="search__form-text-field search__form-submit-controls" placeholder="Введите текст...">
            <div class="btn-group">
                <button class="btn btn-warning search__form-submit-button search__form-submit-controls" filter="all">Поиск</button>
                <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle search__form-submit-controls"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>Только по...</li>
                    <li class="divider"></li>
                    <li><a href="#" class="search__form-submit-button" filter="users">Пользователям</a></li>
                    <li><a href="#" class="search__form-submit-button" filter="activities">Активностям</a></li>
                    <li><a href="#" class="search__form-submit-button" filter="goals">Целям</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search__result"></div>
</div>