<h2 class="side-menu__title"><%= title %></h2>

<div class="side-menu__separator"></div>

<li class="side-menu__item side-menu__today">
    <a href="javascript: void 0">К сегодняшнему дню</a>
</li>

<div class="side-menu__separator"></div>

<% if (showActivitiesItem) { %>
<li class="side-menu__item side-menu__activities">
    <a href="javascript: void 0">Мои активности</a>
</li>
<% } %>
<li class="side-menu__item side-menu__rises">
    <a href="javascript: void 0">Мои райзы (цели)</a>
</li>
<li class="side-menu__item side-menu__live-hub">
    <a href="javascript: void 0">Прямой эфир</a>
</li>
<li class="side-menu__item side-menu__friends">
    <a href="javascript: void 0">Друзья</a>
</li>
<li class="side-menu__item side-menu__users">
    <a href="javascript: void 0">Участники</a>
</li>
<% if (false) { %>
<li class="side-menu__item side-menu__calendar">
    <a href="javascript: void 0">Календарь</a>
</li>
<% } %>
<li class="side-menu__item side-menu__profile">
    <a href="javascript: void 0">Профиль</a>
</li>

<div class="side-menu__separator"></div>

<li class="side-menu__item side-menu__close">
    <a href="javascript: void 0">Скрыть меню</a>
</li>
<li class="side-menu__item side-menu__logout">
    <a href="javascript: void 0">Выход</a>
</li>