<div class="subscriptions__content">
    <label>
        Присылать письмо на email за 1 час до активности:
        <input type="checkbox" name="subscriptions[]" value="1" class="subscriptions__content-checkbox"/>
    </label>
    <label>
        Присылать дайджест каждое утро:
        <input type="checkbox" name="subscriptions[]" value="2" class="subscriptions__content-checkbox"/>
    </label>
    <!--<label>-->
        <!--Сообщать о новых заявках в друзья:-->
        <!--<input type="checkbox" name="subscriptions[]" value="3" class="subscriptions__content-checkbox"/>-->
    <!--</label>-->
    <div class="subscriptions__save-button-holder">
        <button class="subscriptions__save-button btn btn-primary">Сохранить</button>
        &nbsp;
        <button class="subscriptions__back-button btn">Вернуться в профиль</button>
    </div>
</div>