<div class="users-list-item__header">
    <div class="users-list-item__bottom_line"></div>
    <div class="users-list-item__content">
        <img class="users-list-item__avatar" src="<%= avatarUrl %>">
        <div class="users-list-item__nick-holder">
            <span class="users-list-item__nick"><%= name %></span>
        </div>
    </div>
    <div class="users-list-item__arrow-right"></div>
</div>

<div class="users-list-item__actions">
    <button class="users-list-item__action users-list-item__action-timeline btn btn-primary btn-sm">
        Активности
    </button>
    <button class="users-list-item__action users-list-item__action-friend btn-sm <%= friendshipButton ? friendshipButton.cssClass : 'display-none' %>">
        <%= friendshipButton ? friendshipButton.text : '' %>
    </button>
    <button class="users-list-item__action users-list-item__action-friend-revoke btn-sm btn-none">Отклонить</button>
</div>