<div class="main-layout__helper-background">
    <div class="main-layout__helper-modal"></div>
</div>

<div class="welcome-layout__background">
    <div class="welcome-layout__background-pic"></div>
</div>
<div class="welcome-layout__content"></div>