.cellular-date-picker {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 234px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cellular-date-picker__day {
    display: inline-block;
    position: relative;
    width: 13%;
    float: left;
    margin: 1px 0px 0px 1px;
}

.cellular-date-picker__day {
    border-radius: 2px;
    background: #ffca09;
    cursor: pointer;
}

.cellular-date-picker__day.disabled {
    background: rgba(255, 202, 9, 0.29);
}

.cellular-date-picker__day.selected {
    background: rgb(106, 213, 106);
}

.cellular-date-picker__day.current {
    border-color: red;
}

.cellular-date-picker__day-data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    color: rgb(75, 67, 67);
    padding: 1px;
}

.cellular-date-picker__day-height-helper {
    margin-top: 115%;
}

.cellular-date-picker__days-holder {
    width: 100%;
    position: relative;
    padding-left: 9%;
    overflow: hidden;
}

.cellular-date-picker__month-name {
    text-transform: uppercase;
    text-align: center;
    color: #ffca09;
    padding: 5px 0;
}

.cellular-date-picker__to-the-future,
.cellular-date-picker__to-the-past {
    float: left;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.cellular-date-picker__to-the-future {
    background: url(<%= asset_path 'uparrow.png' %>) no-repeat center 7px;
    background-size: 35px 20px;
    border-bottom: 1px solid white;
}

.cellular-date-picker__to-the-past {
    background: url(<%= asset_path 'downarrow.png' %>) no-repeat center 10px;
    background-size: 35px 20px;
    border-top: 1px solid white;
}


