.generator-activities {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.generator-activities .cellular-date-picker {
    margin-right: 10px;
}

.generator-activities__buttons {
    width: 200px;
}

.generator-activities__buttons .btn {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.generator-activities__gen-params {
    margin: 10px 10px 10px 0px;
}