<!DOCTYPE html>
<html>
<head>
  <title>RiseUP - Мы делаем жизнь эффективнее</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

  <%= stylesheet_link_tag 'mobile', :media => 'all' %>
  <%= javascript_include_tag 'mobile' %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
