<!DOCTYPE html>
<html>
<head>
  <title>RiseUP</title>
  <%= stylesheet_link_tag 'web', :media => 'all' %>
  <%= javascript_include_tag 'web' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
